<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Welcome to rblog</title>
        {% style "/assets/bootstrap/dist/css/bootstrap.min.css" %}
        {% style "/css/app.css" %}
    </head>
    <body>
        <!-- navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="{{servlet-context}}/">rblog</a>
            </div>
            <div class="navbar-collapse collapse ">
              <ul class="nav navbar-nav">
                  <li class="{{home-selected}}"><a href="{{servlet-context}}/">Home</a></li>
                  <li class="{{about-selected}}"><a href="{{servlet-context}}/about">About</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <!-- scripts and styles -->
        {% script "/js/bootstrap.min.js" %}
        {% script "/assets/jquery/jquery.min.js" %}
        {% script "/assets/bootstrap/dist/js/bootstrap.min.js" %}
        <script type="text/javascript">
            var context = "{{servlet-context}}";
        </script>
    </body>
</html>

